/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1D2D44;
}
.container {
    text-align: center;
    background-color: #748CAB;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
}
h1 {
    margin-bottom: 20px;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
button {
    padding: 15px 50px;
    background-color: #3E5C76;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
